<ul class="submenu">
    <li><a href="./history">History</a></li>
    <li><a href="./centennial">Centennial</a></li>
    <li><a href="./hosting-asps-annual-congress">Hosting ASPS Annual Congress</a></li>
    <li><a href="./congress-covers">Congress Covers</a></li>
    <li><a href="./philatelic-congress-of-great-britain">Philatelic Congress of Great Britain</a></li>
    <li><a href="./royal-philatelic-society-of-great-britain-visit-2006">Royal Philatelic Society of Great Britain Visit 2006</a></li>
</ul>
