<ul class="submenu">
    <li><a href="./publications">Publications</a></li>
    <li><a href="./a-century-of-scottish-philately">A Century of Scottish Philately</a></li>
    <li><a href="./philatelic-witnesses-of-the-great-war">Philatelic Witnesses of the Great War</a></li>
    <li><a href="./stamp-collecting-is-for-you">Stamp Collecting is for You</a></li>
    <li><ul>
        <li><a href="./butterflies-and-moths">Butterflies and Moths</a></li>
        <li><a href="./scottish-connection-to-new-zealand">Scottish Connection to New Zealand</a></li>
        <li><a href="./scottish-botanists">Scottish Botanists</a></li>
        <li><a href="./scottish-missionary-mail">Scottish Missionary Mail</a></li>
    </ul></li>
    <li><a href="./publications-by-members">Publications by Members</a></li>
</ul>

