<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Caledonian Philatelic Society</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="images/cpslogo.jpg" alt="CPS Logo" class="logo" />
        <h1>Caledonian Philatelic Society</h1>
      </header>
      <nav>
        <ul>
          <li><a href="./">Home</a></li>
          <li><a href="./about">About Us</a></li>
          <li><a href="./meetings">Meetings</a></li>
          <li><a href="./committee">Committee</a></li>
          <li><a href="./COP-26">COP 26</a></li>
          <li><a href="./competitions">Competitions</a></li>
          <li><a href="./past-presidents">Past Presidents</a></li>
          <li><a href="./publications">Publications</a></li>
          <li><a href="./history">History</a></li>
          <li><a href="./forgery-collection">Forgery Collection</a></li>
          <li><a href="./postcard-collecting">Postcard Collecting</a></li>
          <li><a href="./events">Events</a></li>
          <li><a href="./uddingston-stamps">Uddingston Stamp and Postcard Club</a></li>
          <li><a href="./location">Location</a></li>
          <li><a href="./contactus">Contact Us</a></li>
        </ul>
      </nav>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>Web site and all contents &copy; Copyright Caledonian Philatelic Society 2005 - 2022.  All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
